

.bb {
    color: cyan; 
    
    

}



.nav-item {
     color:white;
     background-color: cyan;


}

.site-title {

    color: #fff;
    background: #4aaaa5;
}

#aa {
    background-color:white;
    clear: both;


}

#bb {
    background-color: white;
    color: cyan;



}

.qq {

    float: right;
}